schedulars/src/main/mule/schedulars.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="10ab8572-bffe-429a-8aa1-9a983c401503" />
	<flow name="schedularsFlow" doc:id="9bdf77ef-4797-445b-94d4-837480409b0e" >
		<http:listener doc:name="Listener" doc:id="5ec5c243-e922-4771-b5bd-7f5d1d87c951" config-ref="HTTP_Listener_config" path="/schedule"/>
		<file:read doc:name="Read" doc:id="6f032b1b-eedc-4008-be68-825db9180d82" config-ref="File_Config" path="D:\Mulesoft\batch\class.csv"/>
		<ee:transform doc:name="Transform Message" doc:id="cad0aabf-307b-4a22-8d61-75e4fc0df4ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	name: payload01.name,
	id: payload01.id,
	marks: payload01.marks,
	status: payload01.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<scatter-gather doc:name="Scatter-Gather" doc:id="096ec107-622b-4cbe-9a2d-7e6f114a01b3" >
			<route >
				<db:bulk-insert doc:name="Bulk insert" doc:id="c4b07204-fd45-4f98-8ccb-6337f98d221f" config-ref="Database_Config">
					<db:sql ><![CDATA[insert into students  (id, name, marks, status)
values (:id, :name, :marks, :status)]]></db:sql>
				</db:bulk-insert>
			</route>
			<route >
				<choice doc:name="Choice" doc:id="88ea1df0-05cb-46ac-932c-3747526c1125" >
					<when expression="#[payload.name == 'yas']">
						<db:select doc:name="Select" doc:id="52cb3f42-c632-4f71-b616-956f818bee89" config-ref="Database_Config">
							<db:sql ><![CDATA[select name from students]]></db:sql>
							<db:input-parameters ><![CDATA[#[payload.id==1694]]]></db:input-parameters>
						</db:select>
						<logger level="INFO" doc:name="Logger" doc:id="f321c946-5df4-4f9b-ab81-3183dc9aadfc" message="#[payload]"/>
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="6e2398eb-1880-4d10-a7f1-d3522d3f6cd5" message="#[payload]" />
					</otherwise>
				</choice>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="efe65067-1bc5-4aef-ace0-9992d09d4ab8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4675a5c6-1d15-4417-b6a1-fb1f2c5914b6" message="#[payload]"/>
	</flow>
</mule>
