clorox-national-vehicle-api/src/main/mule/clorox-national-vehicle-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="clorox-national-vehicle-apiFlow" doc:id="e808942d-81d7-4123-8a33-7132a0be2c7e" >
		<http:listener doc:name="Listener" doc:id="2fda0c2e-6e6d-4d2a-8a29-c5e462ae6f24" config-ref="HTTP_Listener_config" path="${http.path}"/>
		<set-variable value="#[uuid()]" doc:name="Transaction Id" doc:id="1f8eaa65-f4c1-4656-873c-56e67a9bcdff" variableName="transactionId" />
		<logger level="INFO" doc:name="Logger" doc:id="7b0b1780-a033-4bb1-aaf4-6b5301ee8f39" message='"incoming payload received " #[payload] #[vars.transactionId]'/>
		<flow-ref doc:name="Flow Reference" doc:id="efadfc56-5041-4b59-b5f6-e2fee4145f59" name="mechanismSubflow"/>
	</flow>
	<sub-flow name="mechanismSubflow" doc:id="79b6eea2-48a8-4b3e-92a2-f65cc043652e" >
		<choice doc:name="To check mechanism" doc:id="78cca675-8c40-48a8-ac86-979a3558ebd6" >
			<when expression='#[(payload.data.mechanism == "DAMAGE") or (payload.data.mechanism == "REPAIR")]'>
				<ee:transform doc:name="Transform Message" doc:id="77bb01ba-7613-4655-bc99-e7da3a24c198">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"initialRequest":payload,
	"transactionId":vars.transactionId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<until-successful maxRetries="${retry.count}" doc:name="Until Successful" doc:id="64eb9a39-4a3c-4094-9535-13d56674a948" millisBetweenRetries="${retry.time}">
					<jms:publish doc:name="JMS initial Publish" doc:id="bf06d8fe-67e0-46ec-98e8-04ab21517d17" config-ref="JMS_Config" destination="${national.initial.queue}" />
				</until-successful>
			</when>
			<otherwise >
				<ee:transform doc:name="no mechanism" doc:id="7049eace-d050-459a-ab0a-e8045d7b30c1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
"The mechanism provided is not in the list"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="No Mechanism Found" doc:id="2c768a32-d01f-4e85-a0ea-8360d8c1349d" message='"The mechanism provided is not in the list " #[vars.transactionId]'/>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="clorox-national-vehicle-apiFlow1" doc:id="d1ac0850-cd87-4b81-a829-0084a55c953c" >
		<jms:listener doc:name="On New Message" doc:id="534cce3f-0953-4acc-99c7-2cf2e02fb858" config-ref="JMS_Config" destination="${national.initial.queue}" ackMode="AUTO"/>
		<logger level="INFO" doc:name="Logger" doc:id="8755c61b-bace-458d-b1ee-64e8915b28ae" message="#[[payload.initialRequest, payload.transactionId]]"/>
		<ee:transform doc:name="Transform Message" doc:id="77c172eb-b5e2-4143-8421-57577e10020f" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/json
---
payload.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="originalRequest" ><![CDATA[%dw 2.0
output application/json
---
payload.initialRequest]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="83146664-3b90-4a1e-8a21-ae7ca7ec318c" message="#[payload]"/>
	</flow>
</mule>
