batchprocess/src/main/mule/batchprocess.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="batchprocessFlow" doc:id="978cece0-c25f-4213-a15e-a04fb7b1b738" >
		<http:listener doc:name="Listener" doc:id="aa9f95a3-6f9c-4010-b3a6-49964ccb9411" config-ref="HTTP_Listener_config" path="/batch"/>
		<ee:transform doc:name="Transform Message" doc:id="6f476f88-d4ca-4b2e-b320-849ef3490ff5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 100 map {
	id: 200 + $$,
	name: "Yaswanth",
	number: 123,
	lname: "Kumar"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="12eb4496-c98b-440c-bd97-43ab32eb44a3" message="#[payload]"/>
		<batch:job jobName="batchprocessBatch_Job" doc:id="5c157e16-1794-4ba3-8eb5-068e8a72386c" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="49cbcef6-8879-4a2b-9729-8bdba45dbee3" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="5629b395-71c5-4c3f-b36f-53c040a3f2cd" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="0213ef3b-bd89-4591-9c4a-bf291b49d605" message="#[payload]"/>
						<db:bulk-insert doc:name="Bulk insert" doc:id="a2265bc0-37fe-4c7e-8fd9-46693d13b112" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into student (id, name, number, lname)
values (:id, :name, :number, :lname);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete>
				<ee:transform doc:name="Transform Message" doc:id="889a0ad6-431b-4809-8d25-c6e727df1b1a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="0dafbdab-efcc-4194-8718-ab638598c986" message="#[payload]" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
