error/src/main/mule/error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="errorFlow" doc:id="fdc02b57-94f9-48e5-9cc5-3bd5c38671d8" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="b7324542-8e86-423c-9e4e-bbfa5b5bd3ac" config-ref="HTTP_Listener_config" path="/error"/>
		<logger level="INFO" doc:name="Logger" doc:id="08238c35-d0b7-4e3c-9951-f7dbce01a10f" message="flow started"/>
		<try doc:name="Try" doc:id="4f4b3b10-b010-4fc1-8218-7563a77708e0" >
			<db:insert doc:name="Insert" doc:id="884fb317-edcc-45b5-97cb-290a359f214b" config-ref="Database_Config">
			<db:sql><![CDATA[select * from emp]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="731f6391-93b3-4a9f-871d-b1f32ae3b109" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="d70a7b17-1c2b-4ad2-b6cc-b5ce90c82720" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Please check your connectivity"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="29c72a67-3edc-481f-8341-e55dc40ec271" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b6368508-ae95-4669-91b6-9df85e17228c" message="#[payload]"/>
	</flow>
	<flow name="errorFlow1" doc:id="032ce61c-2ccd-4106-bb2c-1037c9b038aa" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="f3bbfbab-23dd-496e-8128-586c688a5790" config-ref="HTTP_Listener_config" path="/propagate"/>
		<logger level="INFO" doc:name="Logger" doc:id="0aa8803e-716b-47d8-bcee-0aeba702cc93" message="start"/>
		<try doc:name="Try" doc:id="338439b3-ea52-47ad-b2e2-249c21ef027e" >
			<db:insert doc:name="Insert" doc:id="fddf23f4-e9c9-489e-aeb9-951cce62db27" config-ref="Database_Config">
			<db:sql><![CDATA[select * from emp]]></db:sql>
			<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
		</db:insert>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="63d60da1-b6bc-4126-93ea-da4d9e8fccde" type="ANY">
					<ee:transform doc:name="Transform Message" doc:id="cedf0728-a3cc-4f3a-a903-586e55022f1b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Check your connectivity"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="0597ca50-df27-4161-95d8-3c4bbb5878c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3240afa8-0739-49e4-b1d7-636bf09d4edb" message="#[payload]"/>
	</flow>
	<flow name="errorFlow2" doc:id="8a05876a-fdaa-4e65-abea-769ef93c6d9e" >
		<http:listener doc:name="Listener" doc:id="5a04b27a-d0fd-4298-91f3-71dee29a5477" config-ref="HTTP_Listener_config" path="/global"/>
		<logger level="INFO" doc:name="Logger" doc:id="be04eac6-7b46-447a-92b9-9854e512afd6" message="start"/>
		<set-variable value="200" doc:name="Set Variable" doc:id="07d5516f-40a2-4e85-8afb-0d43f6d9c4af" variableName="amount"/>
		<choice doc:name="Choice" doc:id="7b087e9d-582c-4955-830f-73d68b91cdaf" >
			<when expression="payload.order_amount &lt;= vars.amount">
				<logger level="INFO" doc:name="Logger" doc:id="17d64453-35b0-4fd6-b011-8b08509d43c3" message="#[payload]"/>
				<db:insert doc:name="Insert" doc:id="19a46d2d-421f-4a49-9af6-d1d22d615343" config-ref="Database_Config">
				<db:sql><![CDATA[select * from students]]></db:sql>
				<db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="ad5861bb-7ea2-451a-8b73-c6090c917322" type="if:INSUFFICIENT_FUNDS"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="8f8edde5-393e-4830-9f21-56d426906b2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json			
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6e57deea-1aa5-4ffc-9212-98635875a119" message="#[payload]"/>
	</flow>
</mule>
