practice-api/src/main/mule/practice-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="622cbff8-3306-41e0-86eb-6e2374c7aac0" >
		<http:listener-connection host="localhost" port="3333" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="9d303a87-0556-4226-b5e1-0ea8bf2726bc" >
		<http:listener-connection host="localhost" port="2222" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="dadebc74-8aeb-452c-9438-ee69a38b2ce4" >
		<http:request-connection host="localhost" port="3333" />
	</http:request-config>
	<flow name="practice-apiFlow" doc:id="e38f11ae-943b-4bea-9092-b2ddc16fd5d9">
		<http:listener doc:name="Listener - 3333" doc:id="ba2ca747-c07d-4729-9938-b6936d635d99" config-ref="HTTP_Listener_config" path="/req"/>
		<set-payload value='"HTTP: 3333' doc:name='"http 3333 GET' doc:id="170055a6-a343-4c62-a783-15a5fe6c7f13" />
	</flow>
	<flow name="practice-apiFlow1" doc:id="07770d05-59cd-434a-8b9a-3f3412024b8f" >
		<http:listener doc:name="Listener - 2222" doc:id="41b70d79-3817-4688-84ff-a6720939e37a" config-ref="HTTP_Listener_config1" path="/call"/>
		<http:request method="GET" doc:name="Request" doc:id="db380e4a-7595-4dd5-883a-c566a43af8bf" config-ref="HTTP_Request_configuration" path="/req"/>
	</flow>
	<flow name="practice-apiFlow2" doc:id="12ea4a7a-e2ea-4a54-98a7-c64afe3bbdc5" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="faf60040-4673-4287-99ae-1dab4473da4c" />
	</flow>
	<flow name="practice-apiFlow3" doc:id="cc6c1dea-3327-4dff-83f1-eed564fec9b2" >
		<set-variable value="" doc:name="Set Variable" doc:id="b68a64f0-2b1d-4726-a953-1f386ce79e62" />
	</flow>
</mule>
