file/src/main/mule/file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5f27c80b-97a5-4038-bd4a-20962ce15342" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="fileFlow" doc:id="78737fa8-9899-44ef-b5af-6ea8f8d1c48d" >
		<http:listener doc:name="Listener" doc:id="b0497ce8-1186-47b8-9b95-3f1b1a4739a6" config-ref="HTTP_Listener_config" path="/file"/>
		<file:read doc:name="Read" doc:id="9c7d5fa5-66c0-43d2-9f4b-fd8a25f0980d" path="D:\Mulesoft\Sessions\file\source\file_read.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="45110b1a-b5e3-4823-8c87-c92e0a0cf19a" message="#[payload]"/>
	</flow>
</mule>
