calsi/src/main/mule/calsi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae3880ad-3b34-4727-a307-2c862ca2d9ce" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="calsiFlow" doc:id="19466b0f-7271-4021-bdb7-8461a4e8ac63" >
		<http:listener doc:name="Listener" doc:id="b33d95b8-8680-4b63-9c16-f74c15e8a2c9" config-ref="HTTP_Listener_config" path="/add"/>
		<logger level="INFO" doc:name="Logger" doc:id="915ccd5f-0de7-4bc4-ae08-c4f8b4a5f5fe" message="Start"/>
		<set-variable value="#[attributes.queryparams.number1]" doc:name="Set Variable" doc:id="dbfd4f35-f876-4719-b950-a4c30d8b2f4b" variableName="number1"/>
		<set-variable value="#[attributes.queryparams.number2]" doc:name="Set Variable" doc:id="deab2a41-6c34-4f09-b65b-0b11a421be92" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="91f2428d-a97a-434b-b22d-914b71ba0e23" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	vars.number1 + vars.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
