salesforce_ops/src/main/mule/salesforce_ops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="salesforce_opsFlow" doc:id="f18335b1-a359-49c3-8291-cd3b56818b7a" >
		<http:listener doc:name="Listener" doc:id="83d5998c-d2dd-46b3-acfa-89da8721f199" config-ref="HTTP_Listener_config" path="/ops"/>
		<salesforce:query doc:name="Query" doc:id="59860681-dd47-4768-aebf-78fdfe6cda09" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name, Email from contact where Name like 'k%;]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	name : "attributes.queryParams.name"
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="8026b3e5-f4dc-459b-9a43-5de9bc1c18d3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
sizeOf(payload.Name)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2221a373-f900-40fb-a7f4-5a0aff5268c5" message="#[payload]"/>
	</flow>
</mule>
