queue/src/main/mule/queue.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="queueFlow" doc:id="6b4c60f8-e8b9-439a-a11d-032b21b117a1" >
		<http:listener doc:name="Listener" doc:id="fe83334b-262f-4c83-885c-c7e80314c37f" config-ref="HTTP_Listener_config" path="/publish"/>
		<jms:publish doc:name="Publish" doc:id="0e7e796e-8b3d-475d-9be6-f16223409532" destination="sample" config-ref="JMS_Config"/>
	</flow>
	<flow name="queueFlow1" doc:id="3fbe167c-975c-420c-be83-cc8314c8b4bd" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="d844fff3-9931-4f8c-aff8-10dd740f5f78" config-ref="HTTP_Listener_config" path="/consume"/>
		<jms:consume doc:name="Consume" doc:id="92e0aae0-f8b7-4c4c-b82e-408814d63d7c" destination="sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="e07022e2-bd14-4f6c-a388-1f91e6efa224" message="#[payload]"/>
	</flow>
	<flow name="queueFlow2" doc:id="539d13b0-969a-418e-b808-e4fc91402e5c" initialState="started">
		<jms:listener doc:name="On New Message" doc:id="7b704f5d-2e70-4ee7-ad69-0785f0e9d206" config-ref="JMS_Config" destination="sample" ackMode="IMMEDIATE"/>
		<set-variable value="#[attributes.ackId]" doc:name="Set Variable" doc:id="00defc35-b41f-4bad-8e82-5dda18325292" variableName="ackToken"/>
		<logger level="INFO" doc:name="Logger" doc:id="36f48ecd-4693-4267-95a2-6043c6ee8456" message="#[payload]"/>
	</flow>
</mule>
