foreach/src/main/mule/foreach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="foreachFlow" doc:id="7e1df8b0-0771-453c-a2eb-f230efd1ed9a" >
		<http:listener doc:name="Listener" doc:id="a64c2b4c-3ec7-4b01-a182-1901676cf3fc" config-ref="HTTP_Listener_config" path="/foreach"/>
		<ee:transform doc:name="Transform Message" doc:id="0d888980-4327-4ecb-a3d8-16c1ccd8d5e6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 10 map {
	id: 200 + $$,
	name: "siva",
	number: 1234567890,
	lname: "reddy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="09109c4a-a409-4d4a-9a00-09da431cb9d5" message="#[payload]"/>
		<foreach doc:name="For Each" doc:id="ba916594-f04a-4d72-9ef3-d9452363f72c" >
			<logger level="INFO" doc:name="Logger" doc:id="eede4ea4-d6a9-4665-a803-700ba6cbb060" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="b7fedb2c-2ba9-4f22-87d1-f74501eddd9c" config-ref="Database_Config">
				<db:sql ><![CDATA[INSERT INTO student (id, name, number, lname)
VALUES (:id, :name, :number, :lname);]]></db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</foreach>
	</flow>
</mule>
