vm/src/main/mule/vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="2410c19f-4564-4bf3-bee1-846e329292f8" >
		<vm:queues >
			<vm:queue queueName="myqueue" />
		</vm:queues>
	</vm:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="514e187b-792d-4300-a32d-2ea504fb63ac" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="vmFlow" doc:id="146fe3ab-3575-4c26-97cb-52dba737d767" >
		<http:listener doc:name="Listener" doc:id="1d1f60a3-3881-4ef6-8961-b8e00fdc829d" config-ref="HTTP_Listener_config" path="/vm"/>
		<vm:publish doc:name="Publish" doc:id="5d466ff0-af28-4821-9fe9-eedae429a1d2" config-ref="VM_Config" queueName="myqueue"/>
		<logger level="INFO" doc:name="Logger" doc:id="65853bf7-e19f-48b2-86f6-0221ffd47246" message="#[payload]"/>
	</flow>
	<flow name="vmFlow1" doc:id="83fd7fc6-f57d-4310-9121-45eaba602ea9" initialState="stopped">
		<vm:listener queueName="myqueue" doc:name="Listener" doc:id="41205550-126b-4d89-b252-40c031f17adf" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="3f7ff1e9-b34c-490d-90a0-8cd055e0a453" message="#[payload]"/>
	</flow>
	<flow name="vmFlow2" doc:id="d15e16fa-035c-45b9-86e7-961e35779b0f" >
		<http:listener doc:name="Listener" doc:id="69bdfb36-56f7-4fec-b0e2-1428f375d901" config-ref="HTTP_Listener_config" path="/consume"/>
		<vm:consume queueName="myqueue" doc:name="Consume" doc:id="185df21b-b6ab-4a5d-9932-3da0a51eec1d" config-ref="VM_Config"/>
	</flow>
</mule>
