db/src/main/mule/db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dbFlow" doc:id="434dcf39-58ab-453c-b6db-ebfbf552c1cf" >
		<http:listener doc:name="Listener" doc:id="adffc85d-b44a-4e37-b5a5-75ea20fc347a" config-ref="HTTP_Listener_config" path="/db"/>
		<db:select doc:name="Select" doc:id="945258e8-078a-4257-80ff-cfb536487e9f" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from emp;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="23ea06ac-080f-45f9-a458-cfe2adf23c41" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fb1ef4ff-ae4a-4d39-b193-9e876c864769" message="#[payload]"/>
	</flow>
</mule>
