file_read/src/main/mule/file_read.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="2391a78e-a67e-42ce-a171-5382a18e6823" />
	<flow name="file_readFlow" doc:id="5094eaa8-83aa-4cd2-b095-847d3dcee60b" >
		<http:listener doc:name="Listener" doc:id="70b3a2e6-4e13-4461-8447-981244d14a54" config-ref="HTTP_Listener_config" path="/text"/>
		<file:read doc:name="Read" doc:id="fb623548-0a45-4612-a3ed-2aad99cea5aa" config-ref="File_Config" path="D:\Mulesoft\batch\data.json"/>
		<logger level="INFO" doc:name="Logger" doc:id="a941de9d-4bec-4084-8f57-ff56c9274c70" message="#[payload]"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="0adf6d51-4dfa-47d5-8fba-1716d1c22cdb" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into emp (id, name, number, email) values (:id, :name, :number, :email)]]></db:sql>
		</db:bulk-insert>
		<logger level="INFO" doc:name="Logger" doc:id="8e6322f2-0198-4288-a6ad-88d532974e4a" message="#[payload]"/>
	</flow>
</mule>
