calulator_api/src/main/mule/calulator_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="calulator_apiFlow" doc:id="2619853f-1066-4d26-90ac-44adc91c91b5" >
		<http:listener doc:name="Listener" doc:id="7d8ffceb-7bb6-4671-8c55-b15a41bab4fa" />
		<logger level="INFO" doc:name="Logger" doc:id="414c8dc6-00e2-4cdc-864f-c482c335196b" message="Start Logger"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="number1" doc:id="616f3436-0c1e-4133-a296-d202407f3710" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="number2" doc:id="1fada12b-54ff-4ab2-8d99-b133e8061de3" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="f728471e-73fd-476b-b3fe-c87ae2a9f293" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c7b60500-9917-4755-9428-11c0c0c293c7" message="end logger"/>
	</flow>
</mule>
