dataweave/src/main/mule/dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="1cc69340-8f91-4d10-bd4e-3e8e1af18def" file="test.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ea8a0e4-7ef3-4bc2-915d-43798b3f8374" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataweaveFlow" doc:id="2cd4cdd4-4c07-4b7f-a172-4cc9092388d3" >
		<http:listener doc:name="Listener" doc:id="b6c7c8e1-d7c6-4a01-aca9-b6ddfebd0dc1" config-ref="HTTP_Listener_config" path="/dw"/>
		<ee:transform doc:name="Transform Message" doc:id="8d7e1844-a649-4511-bd2b-7c7cfac61178" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload) map {
    "name": $.firstname  ++ " " ++  $.lastname,
    "branch": $.branch,
    "roll no": $.firstname ++ "-"++ $.lastname ++ "-" ++ $.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e4b629fe-75f9-4371-a656-8c6cc8c3d817" message="#[payload]"/>
	</flow>
</mule>
